.trash
__pycache__
.venv
.vscode
s0.csv
s1.csv
s2.csv
s_scen2_1.csv
s_scen2_2.csv
s_scen3.csv
s_scen4.csv
s_scen2_1_female.csv
s_scen2_2_female.csv
s_scen3_female.csv
s_scen4_female.csv
__pycache__
result_residuals_addshocks.xlsx
s1_female.csv
visualization.py
/Scenario_4/result_scen4_asu.csv
